@import '../../../../styles/variables.css';

.section-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-teal);
  font-family: 'Cascadia Code', 'Courier New', monospace;
  font-size: 14px;
  letter-spacing: 1px;
}
