@import '../../../../styles/variables.css';

.section-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-teal);
  font-family: 'Cascadia Code', 'Courier New', monospace;
  font-size: 14px;
  letter-spacing: 1px;
}

.section-charon {
  position: absolute;
  top: 30px;
  bottom: 128px; /* 30px gap + 68px tab bar + 30px gap */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
