/**
 * EncounterView styles
 * Clean, full-screen display for player terminal
 */

.encounter-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 0;
}
